---
const platform = "github";
const username = "flamy39";

import Social from "./Social.astro";
---

<footer>
    <p>Mes différentes projets sur  <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
</footer>