---
import '../styles/global.css';
import Navigation from '../composants/Navigation.astro';
import Footer from '../composants/Footer.astro';
const pageTitle = "Accueil"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>
		<p>Ceci est un paragraphe</p>
		<Footer />
	</body>
</html>
